# ==============================================================================
# CONFIGURAÇÕES GERAIS DE IP E PORTAS DO SISTEMA
# ==============================================================================
# IP do servidor onde a aplicação está rodando (ex: 192.168.1.27, localhost, etc.)
SERVER_IP=192.168.1.27

# Portas dos serviços no Host / Docker
FRONTEND_PORT=5004
BACKEND_PORT=5005
POSTGRES_PORT=5432

# Host e Porta interna do backend
HOST=0.0.0.0
PORT=3001

# ==============================================================================
# BANCO DE DADOS POSTGRESQL
# ==============================================================================
POSTGRES_USER=admin
POSTGRES_PASSWORD=112658
POSTGRES_DB=backend
POSTGRES_HOST=localhost

# ==============================================================================
# SEED AUTOMÁTICO (true = preenche dados na inicialização | false = ignora)
# ==============================================================================
RUN_SEED=false

# ==============================================================================
# AUTENTICAÇÃO E SEGURANÇA (BETTER-AUTH / JWT)
# ==============================================================================
BETTER_AUTH_SECRET="vgkv5wC$$aaafs0-a$$Q#qfajklwçvar"
JWT_SECRET_ACCESS_TOKEN="vgkv5wC$$aaafs0-a$$Q#qfajklwçvar"
JWT_SECRET="vgkv5wC$$aaafs0-a$$Q#qfajklwçvar"
JWT_ACCESS_TOKEN_EXPIRATION=15d

# ==============================================================================
# INTEGRAÇÕES EXTERNAS
# ==============================================================================
TOMTICKET_BEARER_TOKEN=""
ALPHA_API_TOKEN=""
ZPRO_API_TOKEN=""
