# ==============================================================================
# CONFIGURAÇÃO DE IP E PORTAS DO FRONTEND
# ==============================================================================
SERVER_IP=192.168.1.27
FRONTEND_PORT=5004
BACKEND_PORT=5005

NEXT_PUBLIC_API_URL=http://192.168.1.27:5005
NEXT_PUBLIC_APP_URL=http://192.168.1.27:5004
