# ==============================================================================
# CONFIGURAÇÃO DE IP E PORTAS DO BACKEND
# ==============================================================================
SERVER_IP=192.168.1.27
FRONTEND_PORT=5004
BACKEND_PORT=5005
POSTGRES_PORT=5006

# Host e Porta interna do processo Node
PORT=3001
HOST=0.0.0.0

# ==============================================================================
# BANCO DE DADOS POSTGRESQL
# ==============================================================================
POSTGRES_USER=admin
POSTGRES_PASSWORD=112658
POSTGRES_DB=backend
POSTGRES_HOST=localhost
DATABASE_URL=postgresql://admin:112658@localhost:5432/backend?schema=public

# ==============================================================================
# SEED AUTOMÁTICO (true = preenche dados na inicialização | false = ignora)
# ==============================================================================
RUN_SEED=false

# ==============================================================================
# AUTENTICAÇÃO (BETTER AUTH / JWT)
# ==============================================================================
BETTER_AUTH_SECRET="vgkv5wC$$aaafs0-a$$Q#qfajklwçvar"
BETTER_AUTH_URL=http://192.168.1.27:5005
JWT_SECRET_ACCESS_TOKEN="vgkv5wC$$aaafs0-a$$Q#qfajklwçvar"
JWT_SECRET="vgkv5wC$$aaafs0-a$$Q#qfajklwçvar"
JWT_ACCESS_TOKEN_EXPIRATION=15d

# ==============================================================================
# INTEGRAÇÕES EXTERNAS
# ==============================================================================
TOMTICKET_BEARER_TOKEN=""
ALPHA_API_TOKEN=""
ZPRO_API_TOKEN=""
